// Noise Effect
.noise {
    display: block;
    width: 100vw;
    height: 100vh;
    opacity: 0.15;
    background-image: url('../img/noise-animation.gif');
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 2024;
}